{% extends 'base.html' %}
{% block title %}Home-
  
{% endblock title %}
{% block body %}


<div class="container">
  <h2>Update your Todo</h2>
    <form action="/update/{{ todo.id }}" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input type="text" class="form-control" id="text" name="title" value="{{ todo.title }}" aria-describedby="textHelp">
    <!-- <input type="text" class="form-control" id="text" value="{{ todo.title }}" aria-describedby="textHelp"> -->
    <div id="textHelp" class="form-text">Enter Updated Todo</div>
  </div>
  <div class="mb-3">
    <label for="text" class="form-label">Update Details</label>
    <input type="text" class="form-control" name="desc" id="desc" value="{{ todo.details }}">
  </div>
  
  <button type="submit" class="btn btn-primary">Update Todo</button>
</form>
</div>

<div class="container">

  

    <!-- {% if allTodo|length == 0 %}
    <div class="alert alert-warning" role="alert">

       No Records Found. Add some todos to display here. -->

     {% else %}
      <table class="table">
       <thead>
       <tr>
          <th scope="col">S-No</th>
          <th scope="col">Todos</th>
          <th scope="col">Description</th>
          <th scope="col">Date Created</th>
          <th scope="col">Action</th>
         </tr>
        </thead>
  <tbody>
    {% for todo in allTodo %}
      
     <tr>
       <th scope="row">{{ loop.index }}</th>
       <td>{{ todo.title }}</td>
       <td>{{ todo.details }}</td>
       <td>{{ todo.date_created }}</td>
       <td>
         <button type="button" class="btn btn-outline-primary">Update</button>
         <button type="button" class="btn btn-outline-danger">Delete</button>
       </td>
     </tr>

    {% endfor %}
  </tbody>
 </table>

    {% endif %}

</div>

{% endblock body %}
